<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggg.bs.mapper.DemandMapper">
  <resultMap id="DemandBaseResultMap" type="com.ggg.bs.model.Demand">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="file_id" jdbcType="VARCHAR" property="fileId" />
    <result column="version_id" jdbcType="VARCHAR" property="versionId" />

  </resultMap>
  <select id="getDemandByUV" resultMap="DemandBaseResultMap">
    select * from scrum.demand where scrum.demand.version_id=#{vId}
  </select>
    <insert id="insertDemand" >
        insert into scrum.demand(id,file_id,version_id)
        values (REPLACE(UUID(), '-', ''),#{fId},#{vId})
    </insert>




</mapper>