<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ggg.bs.mapper.FileMapper">
  <resultMap id="FileBaseResultMap" type="com.ggg.bs.model.File">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="orthername" jdbcType="VARCHAR" property="orthername" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="createtime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="version_id" jdbcType="VARCHAR" property="versionId" />
  </resultMap>
  <select id="getFlieByUV" resultType="java.util.Map">
    select (select version.name from version where version.id=scrum.file.version_id) vName,
    (select user.name from scrum.user where user.id=file.user_id) userName,
    scrum.file.name,
    scrum.file.id,
    scrum.file.createtime,
    (select demand.id from demand where demand.file_id=file.id) demandId
     from scrum.file where scrum.file.version_id in (select version.id from version where version.project_id =
    (select version.project_id from version where version.id=#{vId})) and file.type=#{type} order by scrum.file.createtime desc
  </select>
  <select id="getCsFlieByUV" resultType="java.util.Map">
    select (select version.name from version where version.id=scrum.file.version_id) vName,
    (select user.name from scrum.user where user.id=file.user_id) userName,
    scrum.file.name,
    scrum.file.id,
    scrum.file.createtime,
    (select test.id from test where test.file_id=file.id) testId
     from scrum.file where scrum.file.version_id in (select version.id from version where version.project_id =
    (select version.project_id from version where version.id=#{vId})) and file.type=#{type} order by scrum.file.createtime desc
  </select>
    <insert id="insertFile" parameterType="com.ggg.bs.model.File" >
        insert into scrum.file(id,name,orthername,path,user_id,type,createtime,version_id)
        values (#{File.id},#{File.name},#{File.path},#{File.userId},#{File.type},#{File.createtime},#{File.versionId})
    </insert>
  <select id="getFlieById" resultMap="FileBaseResultMap">
     SELECT * FROM `file` where  file.id=#{fId}
  </select>




</mapper>